body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-image: url(../help-mushrooms/психоделика&фоны/фон2.jpg);
    background-size: cover;
}

.section_main {
    padding: 120px 0;
    height: 700px;
}

.section-text__header {
    color: white;
    text-align: center;
}

